.ProseMirror {
  padding-top: $gl-spacing-scale-4;
  min-height: 140px;
  max-height: 55vh;
  overflow-y: auto;

  ::selection {
    background-color: transparent;
  }

  &:not(.ProseMirror-hideselection) .content-editor-selection,
  a.ProseMirror-selectednode,
  span.ProseMirror-selectednode {
    background-color: $blue-100;
    box-shadow: 0 2px 0 $blue-100,  0 -2px 0 $blue-100;
  }

  td,
  th,
  li,
  dd,
  dt,
  summary {
    :first-child {
      margin-bottom: 0 !important;
    }
  }

  img.ProseMirror-selectednode,
  .ProseMirror-selectednode audio,
  .ProseMirror-selectednode video {
    outline: 3px solid $blue-200;
    outline-offset: -3px;
  }

  .selectedCell::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($blue-200, 0.25);
    pointer-events: none;
  }

  video {
    max-width: 400px;
  }

  img {
    max-width: 100%;
  }

  ul[data-type='taskList'] {
    list-style: none;
    padding: 0;

    li {
      margin: 0 !important;
    }
  }

  [data-type='taskList'] {
    p {
      margin-bottom: 0;
    }

    li {
      > label,
      > div {
        display: inline-block;
        vertical-align: top;
      }

      > label {
        padding: $gl-spacing-scale-1 $gl-spacing-scale-3 0 0;
        margin: 0;
      }
    }
  }


  .dl-content {
    width: 100%;

    > li {
      list-style-type: none;
      margin-left: $gl-spacing-scale-5;

      &.dl-term {
        margin: 0;
        font-weight: 600;
      }
    }
  }

  .details-toggle-icon {
    cursor: pointer;
    z-index: 1;

    &::before {
      content: '▶';
      display: inline-block;
      width: $gl-spacing-scale-4;
    }

    &.is-open::before {
      content: '▼';
    }
  }

  .details-content {
    width: calc(100% - #{$gl-spacing-scale-4});

    > li {
      list-style-type: none;
      margin-left: $gl-spacing-scale-2;
    }

    > :not(:first-child) {
      display: none;
    }

    &.is-open > :not(:first-child) {
      display: inherit;
    }
  }

  .gl-new-dropdown-inner li {
    margin-left: 0 !important;

    &.gl-new-dropdown-item {
      padding-left: $gl-spacing-scale-2;
      padding-right: $gl-spacing-scale-2;
    }
  }
}

.table-creator-grid-item {
  box-shadow: inset 0 0 0 $gl-spacing-scale-2 $white,
    inset $gl-spacing-scale-1 $gl-spacing-scale-1 0 #{$gl-spacing-scale-2 * 3 / 4} $gray-100,
    inset #{-$gl-spacing-scale-1} #{-$gl-spacing-scale-1} 0 #{$gl-spacing-scale-2 * 3 / 4} $gray-100 !important;

  &.active {
    box-shadow: inset 0 0 0 $gl-spacing-scale-2 $white,
      inset $gl-spacing-scale-1 $gl-spacing-scale-1 0 $gl-spacing-scale-2 $blue-500,
      inset #{-$gl-spacing-scale-1} #{-$gl-spacing-scale-1} 0 $gl-spacing-scale-2 $blue-500 !important;
  }
}

.content-editor-switcher {
  min-height: 32px;
}


.content-editor-color-chip::after {
  content: ' ';
  display: inline-block;
  align-items: center;
  width: 11px;
  height: 11px;
  border-radius: 3px;
  margin-left: 4px;
  margin-top: -2px;
  border: 1px solid $black-transparent;
  background-color: var(--gl-color-chip-color);
}

.content-editor-comment {
  &::before {
    content: '<!--';
  }

  &::after {
    content: '-->';
  }
}

.content-editor-table-dropdown .gl-new-dropdown-panel {
  min-width: auto;
}

.bubble-menu-form {
  min-width: 320px;
}
